h1{
    text-align:center;
    background: #151515;
    color: #FFF; 
    height: 40px;
    font-size: 30px;
    margin: 0;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
 }
 img{
    padding: 3%
 }