body{
    background: rgba(54, 53, 53, 0.959);
}
h1{ /* Agregando detalles al h1 */
    text-align:center;
    background: rgba(255,255,255,0.2);
    color: #000; 
    height: 40px;
    font-size: 30px;
    margin: 0;
    padding: 0;    
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
 }
 img{ /* Agregando separación en la imagen respecto al h1 y caja */
    padding: 1%
 }
 div{ /* Agregando detalles a la caja que contiene las preguntas */
    position: center;
    max-width: 600px;
    color: #000;
    font-size: 15px;
    background: rgba(255,255,255,0.2);
 }
 input { /* Agregando detalles a los botones dentro de la caja y al botón de responder*/
    background: rgba(255,255,255,0.2);
    font-size: 15px;
 }
.wait {
    cursor:wait;
}
