body{
    background-color: #f2f5a9
}
h1{
    text-align:center;
    background: #151515;
    color: #FFF; 
    height: 20px;
    font-size: 15px;
    margin: 0;
    padding: 0;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
 }